<div class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
    
            <div>
                <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
            </div>
    
            <div>
                <a routerLink="/food/{{cartItem.food.id}}">
                    {{cartItem.food.name}}
                </a>
            </div>
    
            <div>
                <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
    
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
    
                </select>
            </div>
    
            <div>
                {{cartItem.price | currency: 'COP':'$':'.0'}}
            </div>
    
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                        Quitar
                </button>
            </div>
    
        </li>
    </ul>
    
    
    <div class="checkout">
        <div>
            <div class="foods-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice | currency:'COP':'$':'.0'}}</div>
        </div>
    </div>

    <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573106828341&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Pital-Pizza%202" class="float" target="_blank">
            <i class="fa-brands fa-whatsapp my-float"></i>
            <h1 class="comprar">Comprar</h1>
          </a>
    </div>

    
    
    
</div>

