<div class="description-page">
    <h1 class="title-page">La Pizza Del Pueblo</h1>
    <p class="paragraph-page">En Colombia al igual que en italia la cocina se convierte en una herencia transmitida de
        generación en generación,nuestra familia, ha intentado construir a partir de la sazón de nuestras abuelas la
        combinación perfecta entre los sabores del campo huilense vinculados a la pizza italiana.</p>
    <img class="pizza-image" src="assets/images/pizza-image.png" alt="home pizza image">
</div>

<div class="about-page">
    <h1 class="title-about">Sobre Nosotros</h1>
    <p class="paragraph-about">Somos una familia pitaleña, que siguiendo las tradiciones culinarias de nuestras abuelas,
        decidimos emprender el camino de la fusión de sabores y culturas.</p>
    <img class="pital-image" src="assets/images/pital1.jpg" alt="home pizza image">
</div>

<div class="menu-page">
    <h1 class="title-menu">Nuestro Menú</h1>
    <p class="paragraph-menu">Nuestros 5 tipos de pizzas son hechas en horno de leña,amazadas de forma tradicional y su
        salsa es preparada con tomates cultivados en nuestro propio invernadero.</p>
    <div class="menu-container">
        <img class="menu-image" src="assets/images/menu1.png" alt="home pizza image">
        <img class="menu-image" src="assets/images/menu2.png" alt="home pizza image">
        <img class="menu-image" src="assets/images/menu3.png" alt="home pizza image">
    </div>

    



</div>