<app-search></app-search>
<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="">
            <div class="content">
                {{food.name}}
            

                <span class="favorite {{food.favorite?''':'not'}}">
                    ♥
                </span>
                <div class="product-item-footer">
                    <div class="cook-time">
                        <span>
                            ⏰
                        </span>
                        {{food.cookTime}}

                    </div>
                    <div class="price">
                        <span>
                            {{food.price|currency:'COP':'$':'.0'}}
                        </span>
                    </div>

                </div>
                
            </div>
            

        </a>


    </li>
</ul>