<div class="container">
<img [src]="food.imageUrl" [alt]="food.name">

<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}

        </span>
        <span class="favorite {{food.favorite?'':'not'}}">
            ♥
        </span>
    </div>
    <div class="cook-time">
        <span>
            tiempo de preparación <strong>{{food.cookTime}}</strong> 
        </span>
    </div>

    <div class="price">
        <span>
            {{food.price|currency: 'COP':'$':'.0'}}
        </span>
    </div>

    <button (click)="addToCart()">
        Comprar ahora
    </button>
</div>
</div>
